.containerButtonAddComment{
    padding: 5px;
}
.boton-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    background-color: rgb(241, 218, 3) !important;
    font-weight: 600;
    color: black !important;
    border-radius: 5px;
    height: 35px;
    font-weight: 700;
}