.horizontal-nav-bar {
    position: fixed;
    top: 0px;
    margin: auto;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    z-index: 1000 !important;
    height: 50px;
    box-shadow: none !important;

}

.horizontal-nav-bar-resp {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo-username {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 350px;
}

.logo-container {
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;

}

.logo-container a {
    width: 250px;
    display: flex;
    align-items: center;
    /***********/
    color: #212121;
    font-weight: 600;

}

.logo-container img {
    width: 100%;
}

.user-name-container {
    height: 50px;
    display: flex;
    align-items: center;
    width: 30%;
}

.user-name-container span {

    color: #212121;
    font-weight: 500;
    margin-top: 8px;
}


.nav-link-container {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: flex-end;

    width: 40%;
}


.nav-container {
    display: flex;
}

.nav-container a {
    color: #212121;
    font-weight: 700;
    margin-inline-end: 10px;
}

.nav-container a:hover {
    background-color: transparent;
}

.horizontal-nav-bar-icon-list {
    height: 50px;
    align-items: center;
    display: none;
}

.horizontal-nav-bar-icon-list a {
    height: 50px;
    display: flex;
    align-items: center;
    color: #212121;
    font-weight: 500;

}

@media screen and (max-width:700px) {

    .horizontal-nav-bar-icon-list {
        display: flex;

    }

    .nav-container {
        display: none;
    }
    .user-name-container {
        display: none;
    }
}